*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.bg{
    background-image: url(./image/header.jpeg);
    background-repeat: no-repeat;
    background-size: fit;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
}
.sub-head{
    font-family: "Faustina", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.courgette-regular {
    font-family: "Courgette";
    font-weight: 400;
    font-style: normal;
    /* font-size: 40px; */
}

.faustina {
    font-family: "Faustina";
    letter-spacing: 2px;

    font-weight: 600;
    font-style: normal;
}

.faustina-text {
    font-family: "Faustina";
    letter-spacing: 1px;
    font-size: 15px;
    /* font-weight: 600; */
    font-style: normal;
}
.header-font{
    font-family: "Courgette", cursive;
      font-weight: 400;
      font-style: normal;
}
.para{
      font-family: "Faustina";
      letter-spacing: 1px;
      font-size: 15px;
      /* font-weight: 600; */
      font-style: normal;
}
.nav-bg{
    background-color: #CBB8A7;
}
.nav-font{
    font-family: "Oregano", cursive;
    font-weight: 500;
    font-style: normal;
    color: black;
}
.head{
    background-image: url(./image/header.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;
}
.box{
    padding: 25px;
    border-bottom-left-radius:550px !important;
    border-top-left-radius:700px !important;
    border-top-right-radius:700px !important;
    width: 226px;
    height: 341px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: right;
    box-shadow: 0 0 6.1px 3.9px rgba(28,31,86,.04);
}
.box-img{
    margin-bottom: 10px;
    border-bottom-left-radius:800px !important;
    border-top-left-radius:900px !important;
    border-top-right-radius:900px !important;
}
.boxr{
    padding: 25px;
    border-bottom-right-radius:550px !important;
    border-top-left-radius:700px !important;
    border-top-right-radius:700px !important;
    width: 226px;
    height: 341px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    box-shadow: 0 0 6.1px 3.9px rgba(28,31,86,.04);
}
.box-imgr{
    margin-bottom: 10px;
    border-bottom-right-radius:800px !important;
    border-top-left-radius:900px !important;
    border-top-right-radius:900px !important;
}